@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Poppins&display=swap');
a{
  color: black !important;
}
*{
  font-family: 'Poppins', sans-serif;
}

img[src="https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60"]{
color : red;
}


.brand-logo{
  font-family: 'Grand Hotel', cursive;
  margin-left: 10px;
}
.auth{
  padding: 20px;
  margin: 30px auto;
  max-width: 400px;
  text-align: center;
}
.authTitle{
  font-family: 'Grand Hotel', cursive;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.item{
  width: 30%;
}
.home{
  
}
.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}

#loaderOn{
  display: none;
}